body {
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: Roboto, Arial, sans-serif;
}

nav .menu {
    background-color: #80DEEA;
    text-decoration: none;
}


a {
    list-style: none;
    text-decoration: none;
}
h2 {
    margin: 20px;
}


/*
#container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    margin: 20px 10px;
    padding: 20px;
    width: 100%;
}*/

.article {
    max-width: 300px;
    text-align: center;
    margin : 10px;
    padding: 10px;
}
