body {
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: Roboto, Arial, sans-serif;
}

header {
    top: 10px;
}

h1 {
    text-align: center;
    padding: 20px;
}

nav {
    background-color: #80DEEA;
    padding: 50px;
}

nav li {
    list-style: none;
}

nav a {
    display: inline-block;
    margin: 0 35px;
}

.menu {
    display: inline-flex;
    justify-content: space-around;
    font-size: 15px;
    padding-left: 10px;
    text-align: center;
    margin-left: 250px;
}

.menu a {
    list-style: none;
    text-decoration: none;
    color: white;
    font-size: 20px;
}
/**********************************************/
main {
    margin-left: 50px;

}

h2 {
    margin: 20px;
}
